
*{
  box-sizing: border-box;
}
body{
  background-image: url(background.jpg);
  background-size: cover;
}

div{
  width: 60%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 20px;
  background: rgba(0,0,0,0.5)

}

header{
  color: lime;
  font-size: 30px;
  text-align: center;
}

nav{
  width: 80%;
  margin: auto;
  background-color: lime;
  text-align:center;
}

h2{
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 0;
}
main span{
  display: block;
}

.linea1{
width: 300px;
height: 25px;
background-color: orange;
margin-left: 0;
}

.linea2{
width: 500px;
height: 25px;
background-color: green;
margin-left: 0;
}

.linea3{
width: 150px;
height: 25px;
background-color: red;
margin-left: 0;
}

main{
  color: white;
  margin-left: 10%;
}


.logo{
  width: 200px;
  display: block;
  margin: auto;

}
